<div id="<%= dom_id covid %>">
  <p>
    <strong>GEN:</strong>
    <%= covid.GEN %>
  </p>

  <p>
    <strong>BEZ:</strong>
    <%= covid.BEZ %>
  </p>

  <p>
    <strong>Death rate:</strong>
    <%= covid.death_rate %>
  </p>

  <p>
    <strong>Cases7 per 100k:</strong>
    <%= covid.cases7_per_100k %>
  </p>

  <p>
    <strong>Cases7 bl per 100k:</strong>
    <%= covid.cases7_bl_per_100k %>
  </p>

</div>
