<%= form_with(model: covid) do |form| %>
  <% if covid.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(covid.errors.count, "error") %> prohibited this covid from being saved:</h2>

      <ul>
        <% covid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :GEN, style: "display: block" %>
    <%= form.text_field :GEN %>
  </div>

  <div>
    <%= form.label :BEN, style: "display: block" %>
    <%= form.text_field :BEN %>
  </div>

  <div>
    <%= form.label :death_rate, style: "display: block" %>
    <%= form.text_field :death_rate %>
  </div>

  <div>
    <%= form.label :cases7_per_100k, style: "display: block" %>
    <%= form.text_field :cases7_per_100k %>
  </div>

  <div>
    <%= form.label :cases7_bl_per_100k, style: "display: block" %>
    <%= form.text_field :cases7_bl_per_100k %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
