<div id="<%= dom_id mytable %>">
  <p>
    <strong>First name:</strong>
    <%= mytable.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= mytable.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mytable.email %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= mytable.twitter %>
  </p>

</div>
